@import '../_var'

.jobs-banner
    &::before
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.18%, rgba(0, 0, 0, 0.7) 81.88%)
    .bg-background 
        .container 
            .bg-wrapper
                text-align: center
                h1
                    margin: auto 
                    text-align: center
                    max-width: 743px
                .form-grid
                    display: flex   
                    justify-content: center
                    align-items: center
                    max-width: 743px
                    margin: 60px auto 0
                    &.form
                        --labelbefore: var(--white)
                        --labelafter: var(--primary)
                        --borderbefore: var(--white)
                        --borderafter: var(--primary)
                        --labelfontbefore: 16px
                        --labelfontafter: 14px
                        --font: 500
                        --inputsize: 42px
                        --color: var(--primary)
                    .form-group
                        height: fit-content
                        input
                            color: white
                    .btn
                        margin: auto
                        color: white
                        font-weight: 600
                        font-size: 14px
                        text-transform: uppercase
                        padding: 10px 30px
                        &:hover
                            color: $primary
                        
.JobsSecA
    .flex-box
        display: flex
        justify-content: space-between
        gap: 40px
        padding: 60px 0 
        aside
            max-width: 380px
            width: 100%
            .job-location
                width: 100%
                height: 235px
                opacity: 1
                border-radius: 10px
                background: #25ABE2
                overflow: hidden
                padding: 30px
                box-shadow: 0px 8px 24px 0px #959DA533
                margin-bottom: 40px
                h3
                    font-weight: 600
                    color: $white
                    font-size: 18px
                    margin-bottom: 15px
                .location-list
                    list-style: none
                    padding: 0
                    margin: 0
                    display: flex
                    flex-direction: column
                    gap: 12px
                    li
                        display: flex
                        align-items: center
                        gap: 10px
                        cursor: pointer
                        .custom-checkbox
                            width: 20px
                            height: 20px
                            min-width: 20px
                            border-radius: 3px
                            background: $white
                            display: inline-block
                            position: relative
                            transition: background 0.2s
                            &.checked
                                background: $white
                                &::after
                                    content: ""
                                    border: 2px solid #25abe2
                                    border-top: none
                                    border-left: none
                                    width: 7px
                                    height: 11px
                                    position: absolute
                                    top: 3px
                                    left: 7px
                                    transform: rotate(45deg)
                        .location-label
                            color: $white
                            font-size: 16px
                            font-weight: 400
                            user-select: none

            .form-sec
                padding: 30px 20px
                border: 1px solid #E5E5E5
                border-radius: 10px
                overflow: hidden
                position: sticky
                top: calc( var(--headerheight) + 20px  )
                &::before
                    content: ""
                    position: absolute
                    inset: 0
                    width: 100%
                    height: 100%
                    box-shadow: 0px 8px 24px 0px #959DA533
                    background: linear-gradient(360deg, #EBF2F9 0%, #FFFFFF 100%)
                h3
                    font-weight: 600
                    font-size: 20px
                    line-height: 26px
                    color: $black
                    text-align: center
                    position: relative
                    max-width: 265px
                    margin: 0 auto 20px
                .primary-btn
                    margin: 12px auto 0
                    padding: 8px 18px

        .card-grid
            flex: 1
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 20px
            .job-card
                border: 1px solid #E5E5E5
                // height: fit-content
                border-radius: 10px
                padding: 20px 30px
                position: relative
                overflow: hidden
                transition: 0.5s ease
                &::before
                    content: ""
                    position: absolute
                    inset: 0
                    width: 100%
                    height: 100%
                    transition: 1s ease
                    background: linear-gradient(360deg, #EBF2F9 0%, #FFFFFF 100%)
                    box-shadow: 0px 8px 24px 0px #959DA533
                    opacity: 0
                &:hover
                    &::before
                        opacity: 1
                .location
                    display: flex   
                    gap: 10px
                    position: relative
                    z-index: 1
                    span
                        display: inline-block
                        line-height: 1
                        color: $text
                        font-weight: 400
                        font-size: 16px
                h3
                    font-weight: 600
                    font-size: 18px
                    line-height: 1.2
                    color: $black
                    margin: 10px 0 15px 0
                    position: relative
                    z-index: 1
                p
                    font-size: 16px 
                    font-weight: 400
                    position: relative
                    z-index: 1

                .bottom-flex
                    display: flex
                    justify-content: space-between
                    align-items: center
                    position: relative
                    z-index: 1
                    margin-top: 35px
                    .btn
                        border: 1px solid #25ABE2
                        color: #25ABE2
                        border-radius: 25px
                        padding: 6px 20px
                        font-weight: 400
                        font-size: 12px
                        margin: 0
                        display: inline-block
                        &:hover
                            background: #25ABE2
                            color: $white

                    .shere-ico 
                        position: relative
                        img
                            transition: 0.5s ease
                        &:hover
                            .social-icons
                                opacity: 1
                                scale: 1
                            img
                                opacity: 0
                                scale: 0
                        .social-icons
                            position: absolute
                            top: 0
                            left: -120px
                            display: flex
                            justify-content: center
                            align-items: center
                            gap: 15px
                            opacity: 0
                            scale: 0
                            transition: 0.5s ease
                            a
                                svg
                                    path
                                        fill: #25ABE2

                     
