@import '../_var'

.swiper-group
    position: relative

.swiper-nav
    display: flex
    align-items: center
    justify-content: space-between
    gap: 20px
    position: absolute
    top: 45%
    z-index: 2
    width: fit-content
    flex-direction: row

    max-width: 1320px
    width: 100%
    margin: 0 auto
    user-select: none
    pointer-events: none

    @include media(1024)
        width: 35%
    @include media(991) 
        top: 6%
        width: 40%
    @include media(540)
        display: none
    &.center-full-full
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 104%
        z-index: 2
    button
        width: 40px
        height: 40px
        border-radius: 50%
        border: 1px solid $white
        transition: 0.4s ease
        user-select: all
        pointer-events: all
        box-shadow: 0px 3px 8px 0px #0000003D
        display: flex
        justify-content: center
        align-items: center
        background: white
        &.swiper-button-disabled
            opacity: 0.5
            cursor: no-drop
        svg
            vertical-align: middle
            width: 15px
            height: fit-content
            path
                fill: #25ABE2
        &:hover
            background: $white
            svg
                path
                    fill: $black
        &.white-btn
            background: $white
            svg
                path
                    fill: $black
        &.white-btn-secondary-border
            background: $white
            border: 1px solid $secondary
            svg
                path
                    fill: $black
