@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.home-secA {
  background: #F8ECE6;
  padding: 20px 0;
}
.home-secA .home-secA-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.home-secA .home-secA-swiper .swiper-wrapper .swiper-slide div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-secA .home-secA-swiper .swiper-wrapper .swiper-slide div figure {
  width: 69px;
  height: 64px;
  border-radius: 5px;
  overflow: hidden;
}
.home-secA .home-secA-swiper .swiper-wrapper .swiper-slide div figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .home-secA-swiper .swiper-wrapper .swiper-slide div figcaption h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 5px;
}
.home-secA .home-secA-swiper .swiper-wrapper .swiper-slide div figcaption p {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: var(--primary);
}

.home-secB {
  padding: 70px 0;
}
.home-secB .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
@keyframes Sspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-secB .flex-box .rotate-infinite-slow {
  animation: Sspin 30s linear infinite;
}
.home-secB .flex-box figure {
  width: 436px;
  height: 404px;
  position: relative;
}
.home-secB .flex-box figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secB .flex-box figure .d-logo {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 117px;
  height: 129px;
}
.home-secB .flex-box .content h2 {
  margin-bottom: 10px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: var(--secondary);
}
@media only screen and (max-width: 768px) {
  .home-secB .flex-box .content h2 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secB .flex-box .content h2 {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
}
.home-secB .flex-box .content h2 span {
  color: var(--primary);
}
.home-secB .flex-box .content p {
  max-width: 634px;
}
.home-secB .flex-box .content .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 40px 0;
  gap: 0;
}
.home-secB .flex-box .content .flex-box span {
  border: 1px solid rgba(0, 0, 0, 0.2196078431);
  height: 50px;
}
.home-secB .flex-box .content .flex-box .col {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home-secB .flex-box .content .flex-box .col figure {
  width: 57px;
  height: 57px;
}
.home-secB .flex-box .content .flex-box .col figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secB .flex-box .content .flex-box .col .content h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 5px;
}
.home-secB .flex-box .content .flex-box .col .content p {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}

.home-secC {
  background: #173254;
  padding: 50px 0;
}
.home-secC .flex-box {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.home-secC .flex-box .content h2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 50px;
}
.home-secC .flex-box .content h3 {
  color: var(--white);
  margin-bottom: 10px;
}
.home-secC .flex-box .content p {
  max-width: 508px;
  color: rgba(255, 255, 255, 0.6980392157);
  margin-bottom: 30px;
}
.home-secC .flex-box .content .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0 40px;
  gap: 0;
}
.home-secC .flex-box .content .flex-box span {
  border: 1px solid rgba(255, 255, 255, 0.3803921569);
  height: 70px;
}
.home-secC .flex-box .content .flex-box .col h6 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  color: var(--white);
  line-height: 1;
}
.home-secC .flex-box .content .flex-box .col p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  max-width: 168px;
  margin-bottom: 0;
}
.home-secC .flex-box .swiper-group {
  flex: 1;
  width: 50%;
}
.home-secC .flex-box .swiper {
  flex: 1;
}
.home-secC .flex-box .swiper .swiper-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}
.home-secC .flex-box .swiper .swiper-wrapper .swiper-slide {
  height: -moz-fit-content;
  height: fit-content;
}
.home-secC .flex-box .swiper .swiper-wrapper .swiper-slide figure {
  height: 449px;
  border-radius: 15px;
  overflow: hidden;
  line-height: 0;
}
.home-secC .flex-box .swiper .swiper-wrapper .swiper-slide figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
  transition: 0.5s ease;
}
.home-secC .flex-box .swiper .swiper-wrapper .swiper-slide.swiper-slide-active figure img {
  opacity: 1;
}
.home-secC .flex-box .swiper-pagination-progressbar {
  position: relative;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}
.home-secC .flex-box .swiper-pagination-progressbar-fill {
  background: var(--primary) !important;
}
.home-secC .flex-box .custom-pagination {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px 0 0 0;
}
.home-secC .flex-box .custom-pagination .swiper-pagination {
  width: 65%;
  position: relative;
  z-index: 1;
}
.home-secC .flex-box .custom-pagination .swiper-pagination .swiper-pagination-progressbar-fill {
  background: var(--white);
}
.home-secC .flex-box .custom-pagination .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  top: 9%;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row;
}
@media only screen and (max-width: 1024px) {
  .home-secC .flex-box .custom-pagination .swiper-nav {
    width: 35%;
  }
}
@media only screen and (max-width: 991px) {
  .home-secC .flex-box .custom-pagination .swiper-nav {
    top: 6%;
    width: 40%;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .custom-pagination .swiper-nav {
    display: none;
  }
}
.home-secC .flex-box .custom-pagination .swiper-nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--white);
  transition: 0.4s ease;
}
.home-secC .flex-box .custom-pagination .swiper-nav button.swiper-button-disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.home-secC .flex-box .custom-pagination .swiper-nav button svg {
  vertical-align: middle;
  width: 15px;
  height: -moz-fit-content;
  height: fit-content;
}
.home-secC .flex-box .custom-pagination .swiper-nav button svg path {
  fill: var(--white);
}
.home-secC .flex-box .custom-pagination .swiper-nav button:hover {
  background: var(--white);
}
.home-secC .flex-box .custom-pagination .swiper-nav button:hover svg path {
  fill: var(--black);
}

.home-secD {
  position: relative;
  line-height: 0;
}
.home-secD::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(360deg, #FAEFE9 0%, rgba(243, 110, 42, 0.96) 100%);
  z-index: 1;
}
@media only screen and (max-width: 2000px) {
  .home-secD .banner {
    height: 90vh;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1600px) {
  .home-secD .banner {
    height: 100vh;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1400px) {
  .home-secD .banner {
    height: 115vh;
    overflow: hidden;
  }
}
.home-secD .banner video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: luminosity;
}
.home-secD .banner .banner-wrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  padding: 50px 0;
}
.home-secD .banner .banner-wrapper h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  margin-bottom: 20px;
}
.home-secD .banner .banner-wrapper h3 {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #ec8049;
  -webkit-text-stroke: 2px var(--white);
  position: relative;
}
.home-secD .banner .banner-wrapper h3 span {
  color: var(--white);
  display: flex;
  align-items: center;
  display: inline-block;
  line-height: 0;
}
@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.home-secD .banner .banner-wrapper h3 span .heart-wrapper {
  position: relative;
  top: 8px;
  display: inline-block;
  animation: heartPulse 2s infinite ease-in-out;
}
.home-secD .banner .banner-wrapper h3 span .heart-wrapper .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.home-secD .banner .banner-wrapper .btn-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.home-secD .banner .banner-wrapper .btn-wrapper a {
  padding: 11px 38px;
}

.pin-line {
  position: relative;
  background-color: var(--white);
  height: 17px;
}
.pin-line::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 8px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 2px dashed var(--primary);
}
.pin-line figure {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-secF {
  background: url("/assets/images/NGO/ngo-banner.jpg");
  background-image: url("/assets/images/NGO/ngo-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}
.home-secF .banner {
  height: auto;
  overflow: hidden;
  background: rgba(23, 50, 84, 0.9294117647);
  padding: 100px 0;
}
.home-secF .banner .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
}
.home-secF .banner .banner-wrapper {
  position: relative;
}
.home-secF .banner .banner-wrapper .heading h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--white);
  max-width: 493px;
  margin: 0 auto 10px;
  line-height: 1.3;
}
.home-secF .banner .banner-wrapper .heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.home-secF .banner .banner-wrapper .ngo-swiper .swiper-wrapper {
  padding: 40px 0;
}
.home-secF .banner .banner-wrapper .custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px auto 0;
}
.home-secF .banner .banner-wrapper .custom-pagination .swiper-pagination {
  max-width: 284px;
  position: static !important;
}
.home-secF .banner .banner-wrapper .custom-pagination .swiper-pagination .swiper-pagination-progressbar-fill {
  background: var(--white);
}
.home-secF .banner .banner-wrapper .custom-pagination .swiper-pagination-progressbar {
  position: relative;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}
.home-secF .banner .banner-wrapper .custom-pagination .swiper-pagination-progressbar-fill {
  background: var(--primary) !important;
}
.home-secF .banner .banner-wrapper .custom-pagination .custom-pagination {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px 0 0 0;
}
.home-secF .banner .banner-wrapper .custom-pagination .swiper-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

section:has(.home-secE) {
  position: relative;
  overflow: hidden;
}
section:has(.home-secE)::before {
  content: "";
  z-index: 0;
  background: url(/assets/images/Home/Ellipse-vector2.png) no-repeat;
  width: 199px;
  height: 203px;
  position: absolute;
  top: -9%;
  left: -3%;
  transform: scaleX(-1);
}
@media only screen and (max-width: 540px) {
  section:has(.home-secE)::before {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}
section:has(.home-secE)::after {
  content: "";
  z-index: 0;
  background: url(/assets/images/Home/Ellipse-vector2.png) no-repeat;
  width: 240px;
  height: 228px;
  position: absolute;
  top: -5%;
  right: 0%;
  transform: scaleY(1) scaleX(1);
  background-size: contain;
}
@media only screen and (max-width: 540px) {
  section:has(.home-secE)::after {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

.home-secE {
  padding: 50px 0 100px 0;
  overflow: hidden;
}
.home-secE .heading {
  text-align: center;
  margin-bottom: 50px;
}
.home-secE .heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(102, 102, 102, 0.6980392157);
}
.home-secE .heading figure {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 0;
  margin: 0 auto 10px;
}
.home-secE .tab-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  position: relative;
  margin-bottom: 50px;
}
.home-secE .tab-nav::before {
  content: "";
  width: 100vw;
  height: 1px;
  background: var(--primary);
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-secE .tab-nav li {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--text);
  transition: 0.5s ease;
  position: relative;
  padding: 65px 0 0;
  cursor: pointer;
}
.home-secE .tab-nav li.active {
  color: var(--primary);
}
.home-secE .tab-nav li.active figure {
  background: var(--primary);
}
.home-secE .tab-nav li.active figure svg path {
  fill: var(--white);
}
.home-secE .tab-nav li figure {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #F36E2A;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  padding: 10px;
}
.home-secE .swiper-nav {
  top: 42% !important;
}

section:has(.home-secG) {
  position: relative;
  overflow: hidden;
}
section:has(.home-secG)::before {
  content: "";
  position: absolute;
  background: url("/assets/images/Home/Ellipse-vector.png") no-repeat;
  z-index: 0;
  width: 199px;
  height: 333px;
  bottom: -30%;
  left: 0;
  transform: scale(-1);
}
@media only screen and (max-width: 540px) {
  section:has(.home-secG)::before {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}
section:has(.home-secG)::after {
  content: "";
  z-index: 0;
  background: url(/assets/images/Home/Ellipse-vector.png) no-repeat;
  width: 240px;
  height: 338px;
  position: absolute;
  top: -20%;
  right: 0%;
  transform: scaleY(1) scaleX(1);
  background-size: contain;
}
@media only screen and (max-width: 540px) {
  section:has(.home-secG)::after {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

.home-secG {
  padding: 60px 0;
  background: #F8ECE6;
}
.home-secG .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-secG .flex-box .col:first-child {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.home-secG .flex-box .col:first-child h2 {
  max-width: 407px;
  line-height: 1.1;
  margin-bottom: 10px;
}
.home-secG .flex-box .col:first-child p {
  max-width: 394px;
}
.home-secG .flex-box .col:first-child .btn-group {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.home-secG .flex-box .col:last-child {
  flex: 0 1 50%;
  width: 100%;
}
.home-secG .flex-box .col:last-child figure {
  width: 200px;
  height: 400px;
  position: relative;
  margin: auto;
}
.home-secG .flex-box .col:last-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secG .flex-box .col:last-child figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
}
.home-secG .flex-box .col:last-child figure figcaption .logo {
  width: 84px;
  height: 77px;
  margin: auto;
}
.home-secG .flex-box .col:last-child figure figcaption .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secG .flex-box .col:last-child figure figcaption h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary);
  margin: 30px 0;
}
.home-secG .flex-box .col:last-child figure figcaption .btn {
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

.home-secH {
  padding: 50px 0;
  overflow: hidden;
}
.home-secH h2 {
  max-width: 390px;
  margin: auto;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}
.home-secH .tab-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  position: relative;
  margin-bottom: 50px;
}
.home-secH .tab-nav::before {
  content: "";
  width: 100vw;
  height: 1px;
  background: var(--primary);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-secH .tab-nav li {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--text);
  transition: 0.5s ease;
  position: relative;
  padding: 35px 0 0;
  cursor: pointer;
}
.home-secH .tab-nav li.active {
  color: var(--primary);
}
.home-secH .tab-nav li.active::before {
  background: var(--primary);
}
.home-secH .tab-nav li::before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid #F36E2A;
  background: var(--white);
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.home-secI img {
  margin-top: 0 !important;
}
.home-secI .hero-banner {
  height: 100vh;
}
.home-secI .hero-banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, rgba(102, 102, 102, 0) 78.85%);
}
.home-secI .hero-banner .bg-wrapper {
  max-width: 525px;
  bottom: 30% !important;
  left: 77% !important;
}
.home-secI .hero-banner .bg-wrapper h2 {
  color: var(--white);
  line-height: 1.1;
  margin-bottom: 10px;
}
.home-secI .hero-banner .bg-wrapper .btn-group {
  display: flex;
  gap: 30px;
  align-items: center;
}

.home-secJ {
  padding: 50px 0;
}
.home-secJ h2 {
  text-align: center;
  max-width: 493px;
  line-height: 1.1;
  margin: 0 auto 50px;
}
.home-secJ .swiper-nav {
  width: 54% !important;
}
.home-secJ .swiper-slide {
  backdrop-filter: blur(10px);
}
.home-secJ .swiper-slide figcaption {
  opacity: 0;
  transition: 0.6s ease;
}
.home-secJ .swiper-slide-active figcaption {
  opacity: 1;
}
.home-secJ .bottom {
  text-align: center;
  margin: 40px auto 30px;
}

.home-secK {
  padding: 50px 0;
}
.home-secK h2 {
  text-align: center;
}
.home-secK .grid-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin: 50px 0;
}
.home-secK .grid-box figure {
  width: 130px;
  height: 74px;
  margin: auto;
}
.home-secK .grid-box figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=home.css.map */